<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  	Your registered phone number: {{ phone_number }}
  	<br />
  	format: +country_code phone_number
    <form action="/setphonenumber" method="post">
      <div><input type="tel" name="phonenumber"></div>
      <div><input type="submit" value="Set Phone Number"></div>
    </form>
    {{error}}
	<br />
	<br />
    <a href="/guestbook">Guest Book</a>
	<br />
    <a href="/webwatch">Web Watch</a>
	<br />
    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>