<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  	<center>
 	<img src="{{ logoImage }}" alt="{{ altLogoImage }}">
 	<br />
 	<img src="{{ logoImageText }}" alt="{{ altLogoImageText }}">
 	</center>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

	<a href="/accountsettings">Account Settings</a>
	<br />
	<a href="/">Home page</a>
	<br />
    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>