<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  	<center>
 	<img src="{{ logoImage }}" alt="{{ altLogoImage }}">
 	<br />
 	<img src="{{ logoImageText }}" alt="{{ altLogoImageText }}">
 	</center>
	<br />
    <a href="/guestbook">Guest Book</a>
	<br />
    <a href="/webwatch">Web Watch</a>
	<br />
    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>