<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  	<center>
 	<img src="{{ logoImage }}" alt="{{ altLogoImage }}">
 	<br />
 	<img src="{{ logoImageText }}" alt="{{ altLogoImageText }}">
 	</center>
  	<table border="1">
    {% for address in addresses %}
    	<tr>
		<td>
			<a target='_blank' href="{{ address.webaddress }}">{{ address.webaddress }}</a>
		</td>
		<td>
			Currently scheduled to check every {{ address.schedule }} minutes:
			<br />
			<form action="/schedulewebwatch?web_address={{ address.webaddress }}" method="post">
				<div><input type="radio" name="schedule" value="10">10 mins</div>
				<div><input type="radio" name="schedule" value="60">60 mins</div>
				<div><input type="radio" name="schedule" value="720">720 mins</div>
				<div><input type="radio" name="schedule" value="1440">1440 mins</div>
				<div><input type="submit" value="Change Schedule"></div>
			</form>
		</td>
		<td>
			<form action="/removewebwatch?web_address={{ address.webaddress }}" method="post">
				<div><input type="submit" value="Remove website from watch list"></div>
			</form>
		</td>
		</tr>
    {% endfor %}
    </table>

	<br />
    <form action="/addwebwatch" method="post">
      <div><input type="url" value="http://www." name="content" rows="1" cols="60"></div>
      <div><input type="submit" value="Add new website to watch list"></div>
    </form>
    
    <a href="/accountsettings">Account Setting</a>
    <br />
	<a href="/">Home page</a>
	<br />
    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>